/* jack morris 06/04/17 */
.station {
  stroke: black;
  fill: white;
  stroke-width: 4px;
  r: 6;
}
.rail {
  stroke-width: 13px;
  fill: none;
}
svg {
  border: 2px solid #e0e0e0;
  overflow: visible;
}